*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-header: aquamarine;
    --color-aside: orange;
    --color-main: rgb(173, 89, 89);
    --color-footer: cyan;
    --width-total: 1910px;
    --width-aside: 300px;
    --height-header: 180px;
    --height-main: 671px;
    --height-aside: 674px;
    --height-footer: 180px;
}


body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px auto 100px;

    grid-template-areas: 
        "header header header"
        "sidebar main main"
        "footer footer footer";
}


header {
    background-color: var(--color-header);
    height: var(--height-header);
    grid-area: header;
}

aside {
    display: block;
    background-color: var(--color-aside);
    height: var(--height-aside);
    grid-area: sidebar;
}

main {
    display: block;
    background-color: var(--color-main);
    height: var(--height-main);
    align-items: center;
    grid-area: main;
}

footer {
    background-color: var(--color-footer);
    height: var(--height-footer);
    grid-area: footer;

}



/*
Complicaciones:
    - Las complicaciones encontradas fue en primero saber la cantidad exacta en px de cada uno para organizarlos bien, 
    - Encontrar la manera sin usar div de hacer que el aside y el main estuvieran juntos horizontalmente




*/



